.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}

p {
    margin-top: 0;
}

small {
    margin-top: 12px;
}

.privacy-policy {
    font-size: 14px;
    cursor: pointer;
}

.privacy-policy:hover {
    text-decoration: underline;
}